@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 47 18% 97%;
    --foreground: 20 14% 4%;
    --card: 47 18% 97%;
    --card-foreground: 20 14% 4%;
    --popover: 47 18% 97%;
    --popover-foreground: 20 14% 4%;
    --primary: 47 90% 54%;
    --primary-foreground: 20 14% 4%;
    --secondary: 47 10% 90%;
    --secondary-foreground: 20 14% 4%;
    --muted: 47 10% 85%;
    --muted-foreground: 20 14% 35%;
    --accent: 17 71% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 47 10% 80%;
    --input: 47 10% 90%;
    --ring: 47 90% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 47 18% 97%;
    --card: 20 14% 4%;
    --card-foreground: 47 18% 97%;
    --popover: 20 14% 4%;
    --popover-foreground: 47 18% 97%;
    --primary: 47 90% 54%;
    --primary-foreground: 20 14% 4%;
    --secondary: 20 14% 10%;
    --secondary-foreground: 47 18% 97%;
    --muted: 20 14% 10%;
    --muted-foreground: 47 10% 60%;
    --accent: 17 71% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 47 90% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
